mercuryapi-1.35.2.72/c/src/api/ltkc_win32/Definitions/Core/llrp-1x0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 -  Copyright 2007 Impinj, Inc.                                              -
 -                                                                           -
 -  Licensed under the Apache License, Version 2.0 (the "License");          -
 -  you may not use this file except in compliance with the License.         -
 -  You may obtain a copy of the License at                                  -
 -                                                                           -
 -      http://www.apache.org/licenses/LICENSE-2.0                           -
 -                                                                           -
 -  Unless required by applicable law or agreed to in writing, software      -
 -  distributed under the License is distributed on an "AS IS" BASIS,        -
 -  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -
 -  See the License for the specific language governing permissions and      -
 -  limitations under the License.                                           - 
 -                                                                           -
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 - DESCRIPTION                                                               -
 -                                                                           -
 - LLRP.xsd comprises a W3C XML Schema which serves as a complete            -
 - XML encoding of LLRP Binary messages and parameters.                      -
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 - PURPOSE                                                                   -
 -                                                                           -
 - This W3C XML Schema describes an XML format for a high-level, platform    -
 - independent encoding of LLRP binary messages. XML-aware editors are       -
 - able to use this schema to facilitate editing of XML messages. Instance   -
 - documents can be archived in revision control systems, exchanged between  -
 - developers, or used as part of a document-oriented API or web service for -
 - accessing LLRP readers. LLRP-XML instance documents or fragments are      -
 - also ideal for quoting in tutorials and other documentation such as       -
 - test plans.                                                               -
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 - AUTHOR                                                                    -
 -                                                                           -
 - LLRP Abstract Schema design by John R. Hogerhuis.                         -
 - Schema content autogenerated by Schema.pm from the llrp1.desc file        -
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 - TODO                                                                      -
 -                                                                           -
 - Add enumerations for parameter and field names in error messages          -
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
-->

<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.llrp.org/ltk/schema/core/encoding/xml/1.0"
	xmlns="http://www.llrp.org/ltk/schema/core/encoding/xml/1.0"
	xmlns:llrp="http://www.llrp.org/ltk/schema/core/encoding/xml/1.0"
	elementFormDefault="qualified"
>

	<!-- Message header attribute group -->
	<xs:attributeGroup name="headerAttrs">
		<xs:attribute name="MessageID" type ="xs:unsignedInt" use="required"/>
		<xs:attribute name="Version" type="xs:unsignedShort" />

		<!-- overrides for negative testing only -->
		<xs:attribute name="Reserved" type ="xs:unsignedInt"/>
		<xs:attribute name="Length" type ="xs:unsignedShort"/>
		<xs:attribute name="TypeID" type ="xs:unsignedShort"/>
	</xs:attributeGroup>

	<!-- Parameter header attribute group -->
	<xs:attributeGroup name="paramAttrs">

		<!-- overrides for negative testing only -->
		<xs:attribute name="Reserved" type ="xs:unsignedInt"/>
		<xs:attribute name="Length" type ="xs:unsignedShort"/>
		<xs:attribute name="TypeID" type ="xs:unsignedShort"/>
	</xs:attributeGroup>

	<!-- Common datatypes -->
	<xs:simpleType name="listOfUnsignedShort">
		<xs:list itemType="xs:unsignedShort"/>
	</xs:simpleType>

	<xs:simpleType name="listOfUnsignedByte">
		<xs:list itemType="xs:unsignedByte"/>
	</xs:simpleType>

	<xs:simpleType name="listOfUnsignedInt">
		<xs:list itemType="xs:unsignedInt"/>
	</xs:simpleType>

	<xs:complexType name="bitVector">
		<xs:simpleContent>
			<xs:extension base="xs:hexBinary">
				<xs:attribute name="Count" type="xs:unsignedShort"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="twoBit">
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="hexByte">
		<xs:restriction base="xs:hexBinary">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="hexDWord">
		<xs:restriction base="xs:hexBinary">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="hexWord">
		<xs:restriction base="xs:hexBinary">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="listOfHexWord">
		<xs:list itemType="hexWord"/>
	</xs:simpleType>
	
	<xs:simpleType name="listOfAirProtocols">
		<xs:list itemType="llrp:AirProtocols"/>
	</xs:simpleType>

	<!-- Message top-level elements -->
	<xs:element name="KEEPALIVE" type="llrp:KEEPALIVE"/>
	<xs:element name="CLOSE_CONNECTION" type="llrp:CLOSE_CONNECTION"/>
	<xs:element name="GET_READER_CONFIG" type="llrp:GET_READER_CONFIG"/>
	<xs:element name="DISABLE_ACCESSSPEC" type="llrp:DISABLE_ACCESSSPEC"/>
	<xs:element name="SET_READER_CONFIG" type="llrp:SET_READER_CONFIG"/>
	<xs:element name="ERROR_MESSAGE" type="llrp:ERROR_MESSAGE"/>
	<xs:element name="GET_READER_CAPABILITIES" type="llrp:GET_READER_CAPABILITIES"/>
	<xs:element name="CLOSE_CONNECTION_RESPONSE" type="llrp:CLOSE_CONNECTION_RESPONSE"/>
	<xs:element name="CUSTOM_MESSAGE" type="llrp:CUSTOM_MESSAGE"/>
	<xs:element name="ENABLE_ACCESSSPEC_RESPONSE" type="llrp:ENABLE_ACCESSSPEC_RESPONSE"/>
	<xs:element name="DELETE_ROSPEC" type="llrp:DELETE_ROSPEC"/>
	<xs:element name="RO_ACCESS_REPORT" type="llrp:RO_ACCESS_REPORT"/>
	<xs:element name="GET_ROSPECS_RESPONSE" type="llrp:GET_ROSPECS_RESPONSE"/>
	<xs:element name="DELETE_ACCESSSPEC" type="llrp:DELETE_ACCESSSPEC"/>
	<xs:element name="DELETE_ACCESSSPEC_RESPONSE" type="llrp:DELETE_ACCESSSPEC_RESPONSE"/>
	<xs:element name="GET_READER_CAPABILITIES_RESPONSE" type="llrp:GET_READER_CAPABILITIES_RESPONSE"/>
	<xs:element name="SET_READER_CONFIG_RESPONSE" type="llrp:SET_READER_CONFIG_RESPONSE"/>
	<xs:element name="ADD_ACCESSSPEC_RESPONSE" type="llrp:ADD_ACCESSSPEC_RESPONSE"/>
	<xs:element name="DISABLE_ACCESSSPEC_RESPONSE" type="llrp:DISABLE_ACCESSSPEC_RESPONSE"/>
	<xs:element name="GET_ACCESSSPECS_RESPONSE" type="llrp:GET_ACCESSSPECS_RESPONSE"/>
	<xs:element name="ADD_ACCESSSPEC" type="llrp:ADD_ACCESSSPEC"/>
	<xs:element name="READER_EVENT_NOTIFICATION" type="llrp:READER_EVENT_NOTIFICATION"/>
	<xs:element name="ADD_ROSPEC" type="llrp:ADD_ROSPEC"/>
	<xs:element name="DELETE_ROSPEC_RESPONSE" type="llrp:DELETE_ROSPEC_RESPONSE"/>
	<xs:element name="STOP_ROSPEC_RESPONSE" type="llrp:STOP_ROSPEC_RESPONSE"/>
	<xs:element name="ENABLE_ROSPEC_RESPONSE" type="llrp:ENABLE_ROSPEC_RESPONSE"/>
	<xs:element name="START_ROSPEC" type="llrp:START_ROSPEC"/>
	<xs:element name="ENABLE_ACCESSSPEC" type="llrp:ENABLE_ACCESSSPEC"/>
	<xs:element name="DISABLE_ROSPEC_RESPONSE" type="llrp:DISABLE_ROSPEC_RESPONSE"/>
	<xs:element name="KEEPALIVE_ACK" type="llrp:KEEPALIVE_ACK"/>
	<xs:element name="ENABLE_EVENTS_AND_REPORTS" type="llrp:ENABLE_EVENTS_AND_REPORTS"/>
	<xs:element name="GET_ROSPECS" type="llrp:GET_ROSPECS"/>
	<xs:element name="ADD_ROSPEC_RESPONSE" type="llrp:ADD_ROSPEC_RESPONSE"/>
	<xs:element name="GET_READER_CONFIG_RESPONSE" type="llrp:GET_READER_CONFIG_RESPONSE"/>
	<xs:element name="STOP_ROSPEC" type="llrp:STOP_ROSPEC"/>
	<xs:element name="ENABLE_ROSPEC" type="llrp:ENABLE_ROSPEC"/>
	<xs:element name="START_ROSPEC_RESPONSE" type="llrp:START_ROSPEC_RESPONSE"/>
	<xs:element name="GET_REPORT" type="llrp:GET_REPORT"/>
	<xs:element name="DISABLE_ROSPEC" type="llrp:DISABLE_ROSPEC"/>
	<xs:element name="GET_ACCESSSPECS" type="llrp:GET_ACCESSSPECS"/>

	<!-- Generate parameter lists -->

	<xs:group name="extensionPoint">
		<xs:choice>
			<xs:element name="Custom" type="llrp:Custom" minOccurs="0" maxOccurs="unbounded" />
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:group>

	<xs:complexType name="KEEPALIVE">
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="CLOSE_CONNECTION">
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>

	<xs:complexType name="GET_READER_CONFIG">
		<xs:sequence>
			<xs:element name="AntennaID" type="xs:unsignedShort" />
			<xs:element name="RequestedData" type="llrp:GetReaderConfigRequestedData" />
			<xs:element name="GPIPortNum" type="xs:unsignedShort" />
			<xs:element name="GPOPortNum" type="xs:unsignedShort" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>

	<xs:complexType name="DISABLE_ACCESSSPEC">
		<xs:sequence>
			<xs:element name="AccessSpecID" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="SET_READER_CONFIG">
		<xs:sequence>
			<xs:element name="ResetToFactoryDefault" type="xs:boolean" />
			<xs:element name="ReaderEventNotificationSpec" type="llrp:ReaderEventNotificationSpec" minOccurs="0" />
			<xs:element name="AntennaProperties" type="llrp:AntennaProperties" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="AntennaConfiguration" type="llrp:AntennaConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="ROReportSpec" type="llrp:ROReportSpec" minOccurs="0" />
			<xs:element name="AccessReportSpec" type="llrp:AccessReportSpec" minOccurs="0" />
			<xs:element name="KeepaliveSpec" type="llrp:KeepaliveSpec" minOccurs="0" />
			<xs:element name="GPOWriteData" type="llrp:GPOWriteData" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="GPIPortCurrentState" type="llrp:GPIPortCurrentState" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="EventsAndReports" type="llrp:EventsAndReports" minOccurs="0" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="ERROR_MESSAGE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="GET_READER_CAPABILITIES">
		<xs:sequence>
			<xs:element name="RequestedData" type="llrp:GetReaderCapabilitiesRequestedData" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="CLOSE_CONNECTION_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="CUSTOM_MESSAGE">
		<xs:sequence>
			<xs:element name="VendorIdentifier" type="xs:unsignedInt" />
			<xs:element name="MessageSubtype" type="xs:unsignedByte" />
			<xs:element name="Data" type="xs:hexBinary" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="ENABLE_ACCESSSPEC_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="DELETE_ROSPEC">
		<xs:sequence>
			<xs:element name="ROSpecID" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="RO_ACCESS_REPORT">
		<xs:sequence>
			<xs:element name="TagReportData" type="llrp:TagReportData" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="RFSurveyReportData" type="llrp:RFSurveyReportData" minOccurs="0" maxOccurs="unbounded" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="GET_ROSPECS_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
			<xs:element name="ROSpec" type="llrp:ROSpec" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="DELETE_ACCESSSPEC">
		<xs:sequence>
			<xs:element name="AccessSpecID" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="DELETE_ACCESSSPEC_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="GET_READER_CAPABILITIES_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
			<xs:element name="GeneralDeviceCapabilities" type="llrp:GeneralDeviceCapabilities" minOccurs="0" />
			<xs:element name="LLRPCapabilities" type="llrp:LLRPCapabilities" minOccurs="0" />
			<xs:element name="RegulatoryCapabilities" type="llrp:RegulatoryCapabilities" minOccurs="0" />
			<xs:choice minOccurs="0" >
				<xs:element name="C1G2LLRPCapabilities" type="llrp:C1G2LLRPCapabilities"/>
			</xs:choice>
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="SET_READER_CONFIG_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="ADD_ACCESSSPEC_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="DISABLE_ACCESSSPEC_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="GET_ACCESSSPECS_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
			<xs:element name="AccessSpec" type="llrp:AccessSpec" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="ADD_ACCESSSPEC">
		<xs:sequence>
			<xs:element name="AccessSpec" type="llrp:AccessSpec" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="READER_EVENT_NOTIFICATION">
		<xs:sequence>
			<xs:element name="ReaderEventNotificationData" type="llrp:ReaderEventNotificationData" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="ADD_ROSPEC">
		<xs:sequence>
			<xs:element name="ROSpec" type="llrp:ROSpec" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="DELETE_ROSPEC_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="STOP_ROSPEC_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="ENABLE_ROSPEC_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="START_ROSPEC">
		<xs:sequence>
			<xs:element name="ROSpecID" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="ENABLE_ACCESSSPEC">
		<xs:sequence>
			<xs:element name="AccessSpecID" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="DISABLE_ROSPEC_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="KEEPALIVE_ACK">
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="ENABLE_EVENTS_AND_REPORTS">
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="GET_ROSPECS">
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="ADD_ROSPEC_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="GET_READER_CONFIG_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
			<xs:element name="Identification" type="llrp:Identification" minOccurs="0" />
			<xs:element name="AntennaProperties" type="llrp:AntennaProperties" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="AntennaConfiguration" type="llrp:AntennaConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="ReaderEventNotificationSpec" type="llrp:ReaderEventNotificationSpec" minOccurs="0" />
			<xs:element name="ROReportSpec" type="llrp:ROReportSpec" minOccurs="0" />
			<xs:element name="AccessReportSpec" type="llrp:AccessReportSpec" minOccurs="0" />
			<xs:element name="LLRPConfigurationStateValue" type="llrp:LLRPConfigurationStateValue" minOccurs="0" />
			<xs:element name="KeepaliveSpec" type="llrp:KeepaliveSpec" minOccurs="0" />
			<xs:element name="GPIPortCurrentState" type="llrp:GPIPortCurrentState" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="GPOWriteData" type="llrp:GPOWriteData" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="EventsAndReports" type="llrp:EventsAndReports" minOccurs="0" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="STOP_ROSPEC">
		<xs:sequence>
			<xs:element name="ROSpecID" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="ENABLE_ROSPEC">
		<xs:sequence>
			<xs:element name="ROSpecID" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="START_ROSPEC_RESPONSE">
		<xs:sequence>
			<xs:element name="LLRPStatus" type="llrp:LLRPStatus" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="GET_REPORT">
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="DISABLE_ROSPEC">
		<xs:sequence>
			<xs:element name="ROSpecID" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="GET_ACCESSSPECS">
		<xs:attributeGroup ref="llrp:headerAttrs"/>
	</xs:complexType>


	<xs:complexType name="Identification">
		<xs:sequence>
			<xs:element name="IDType" type="llrp:IdentificationType" />
			<xs:element name="ReaderID" type="xs:hexBinary" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ChannelIndex">
		<xs:sequence>
			<xs:element name="ChannelIndex" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ROSpecStartTrigger">
		<xs:sequence>
			<xs:element name="ROSpecStartTriggerType" type="llrp:ROSpecStartTriggerType" />
			<xs:element name="PeriodicTriggerValue" type="llrp:PeriodicTriggerValue" minOccurs="0" />
			<xs:element name="GPITriggerValue" type="llrp:GPITriggerValue" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ROSpecID">
		<xs:sequence>
			<xs:element name="ROSpecID" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2BlockEraseOpSpecResult">
		<xs:sequence>
			<xs:element name="Result" type="llrp:C1G2BlockEraseResultType" />
			<xs:element name="OpSpecID" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2_PC">
		<xs:sequence>
			<xs:element name="PC_Bits" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2SingulationDetails">
		<xs:sequence>
			<xs:element name="NumCollisionSlots" type="xs:unsignedShort" />
			<xs:element name="NumEmptySlots" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="GeneralDeviceCapabilities">
		<xs:sequence>
			<xs:element name="MaxNumberOfAntennaSupported" type="xs:unsignedShort" />
			<xs:element name="CanSetAntennaProperties" type="xs:boolean" />
			<xs:element name="HasUTCClockCapability" type="xs:boolean" />
			<xs:element name="DeviceManufacturerName" type="xs:unsignedInt" />
			<xs:element name="ModelName" type="xs:unsignedInt" />
			<xs:element name="ReaderFirmwareVersion" type="xs:string" />
			<xs:element name="ReceiveSensitivityTableEntry" type="llrp:ReceiveSensitivityTableEntry" maxOccurs="unbounded" />
			<xs:element name="PerAntennaReceiveSensitivityRange" type="llrp:PerAntennaReceiveSensitivityRange" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="GPIOCapabilities" type="llrp:GPIOCapabilities" />
			<xs:element name="PerAntennaAirProtocol" type="llrp:PerAntennaAirProtocol" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2LockPayload">
		<xs:sequence>
			<xs:element name="Privilege" type="llrp:C1G2LockPrivilege" />
			<xs:element name="DataField" type="llrp:C1G2LockDataField" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="Custom">
		<xs:sequence>
			<xs:element name="VendorIdentifier" type="xs:unsignedInt" />
			<xs:element name="ParameterSubtype" type="xs:unsignedInt" />
			<xs:element name="Data" type="xs:hexBinary" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ReportBufferOverflowErrorEvent">
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="PerAntennaReceiveSensitivityRange">
		<xs:sequence>
			<xs:element name="AntennaID" type="xs:unsignedShort" />
			<xs:element name="ReceiveSensitivityIndexMin" type="xs:unsignedShort" />
			<xs:element name="ReceiveSensitivityIndexMax" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="AntennaProperties">
		<xs:sequence>
			<xs:element name="AntennaConnected" type="xs:boolean" />
			<xs:element name="AntennaID" type="xs:unsignedShort" />
			<xs:element name="AntennaGain" type="xs:short" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="InventoryParameterSpec">
		<xs:sequence>
			<xs:element name="InventoryParameterSpecID" type="xs:unsignedShort" />
			<xs:element name="ProtocolID" type="llrp:AirProtocols" />
			<xs:element name="AntennaConfiguration" type="llrp:AntennaConfiguration" minOccurs="0" maxOccurs="unbounded" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2KillOpSpecResult">
		<xs:sequence>
			<xs:element name="Result" type="llrp:C1G2KillResultType" />
			<xs:element name="OpSpecID" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="AccessCommand">
		<xs:sequence>
			<xs:choice >
				<xs:element name="C1G2TagSpec" type="llrp:C1G2TagSpec"/>
			</xs:choice>
			<xs:choice maxOccurs="unbounded" >
				<xs:element name="C1G2Write" type="llrp:C1G2Write"/>
				<xs:element name="C1G2BlockWrite" type="llrp:C1G2BlockWrite"/>
				<xs:element name="C1G2Lock" type="llrp:C1G2Lock"/>
				<xs:element name="C1G2BlockErase" type="llrp:C1G2BlockErase"/>
				<xs:element name="C1G2Kill" type="llrp:C1G2Kill"/>
				<xs:element name="C1G2Read" type="llrp:C1G2Read"/>
			</xs:choice>
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="RegulatoryCapabilities">
		<xs:sequence>
			<xs:element name="CountryCode" type="xs:unsignedShort" />
			<xs:element name="CommunicationsStandard" type="llrp:CommunicationsStandard" />
			<xs:element name="UHFBandCapabilities" type="llrp:UHFBandCapabilities" minOccurs="0" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2EPCMemorySelector">
		<xs:sequence>
			<xs:element name="EnableCRC" type="xs:boolean" />
			<xs:element name="EnablePCBits" type="xs:boolean" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="PeriodicTriggerValue">
		<xs:sequence>
			<xs:element name="Offset" type="xs:unsignedInt" />
			<xs:element name="Period" type="xs:unsignedInt" />
			<xs:element name="UTCTimestamp" type="llrp:UTCTimestamp" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2BlockErase">
		<xs:sequence>
			<xs:element name="OpSpecID" type="xs:unsignedShort" />
			<xs:element name="AccessPassword" type="xs:unsignedInt" />
			<xs:element name="MB" type="llrp:twoBit" />
			<xs:element name="WordPointer" type="xs:unsignedShort" />
			<xs:element name="WordCount" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="GPITriggerValue">
		<xs:sequence>
			<xs:element name="GPIPortNum" type="xs:unsignedShort" />
			<xs:element name="GPIEvent" type="xs:boolean" />
			<xs:element name="Timeout" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="EventNotificationState">
		<xs:sequence>
			<xs:element name="EventType" type="llrp:NotificationEventType" />
			<xs:element name="NotificationState" type="xs:boolean" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ROBoundarySpec">
		<xs:sequence>
			<xs:element name="ROSpecStartTrigger" type="llrp:ROSpecStartTrigger" />
			<xs:element name="ROSpecStopTrigger" type="llrp:ROSpecStopTrigger" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2TagInventoryStateUnawareFilterAction">
		<xs:sequence>
			<xs:element name="Action" type="llrp:C1G2StateUnawareAction" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="AISpec">
		<xs:sequence>
			<xs:element name="AntennaIDs" type="llrp:listOfUnsignedShort" />
			<xs:element name="AISpecStopTrigger" type="llrp:AISpecStopTrigger" />
			<xs:element name="InventoryParameterSpec" type="llrp:InventoryParameterSpec" maxOccurs="unbounded" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="RFSurveyReportData">
		<xs:sequence>
			<xs:element name="ROSpecID" type="llrp:ROSpecID" minOccurs="0" />
			<xs:element name="SpecIndex" type="llrp:SpecIndex" minOccurs="0" />
			<xs:element name="FrequencyRSSILevelEntry" type="llrp:FrequencyRSSILevelEntry" maxOccurs="unbounded" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="FirstSeenTimestampUTC">
		<xs:sequence>
			<xs:element name="Microseconds" type="xs:dateTime" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ReaderEventNotificationData">
		<xs:sequence>
			<xs:choice >
				<xs:element name="Uptime" type="llrp:Uptime"/>
				<xs:element name="UTCTimestamp" type="llrp:UTCTimestamp"/>
			</xs:choice>
			<xs:element name="HoppingEvent" type="llrp:HoppingEvent" minOccurs="0" />
			<xs:element name="GPIEvent" type="llrp:GPIEvent" minOccurs="0" />
			<xs:element name="ROSpecEvent" type="llrp:ROSpecEvent" minOccurs="0" />
			<xs:element name="ReportBufferLevelWarningEvent" type="llrp:ReportBufferLevelWarningEvent" minOccurs="0" />
			<xs:element name="ReportBufferOverflowErrorEvent" type="llrp:ReportBufferOverflowErrorEvent" minOccurs="0" />
			<xs:element name="ReaderExceptionEvent" type="llrp:ReaderExceptionEvent" minOccurs="0" />
			<xs:element name="RFSurveyEvent" type="llrp:RFSurveyEvent" minOccurs="0" />
			<xs:element name="AISpecEvent" type="llrp:AISpecEvent" minOccurs="0" />
			<xs:element name="AntennaEvent" type="llrp:AntennaEvent" minOccurs="0" />
			<xs:element name="ConnectionAttemptEvent" type="llrp:ConnectionAttemptEvent" minOccurs="0" />
			<xs:element name="ConnectionCloseEvent" type="llrp:ConnectionCloseEvent" minOccurs="0" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="FrequencyHopTable">
		<xs:sequence>
			<xs:element name="HopTableID" type="xs:unsignedByte" />
			<xs:element name="Frequency" type="llrp:listOfUnsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="LastSeenTimestampUptime">
		<xs:sequence>
			<xs:element name="Microseconds" type="xs:unsignedLong" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="AccessCommandOpSpec">
		<xs:sequence>
			<xs:choice >
				<xs:element name="C1G2Write" type="llrp:C1G2Write"/>
				<xs:element name="C1G2BlockWrite" type="llrp:C1G2BlockWrite"/>
				<xs:element name="C1G2Lock" type="llrp:C1G2Lock"/>
				<xs:element name="C1G2BlockErase" type="llrp:C1G2BlockErase"/>
				<xs:element name="C1G2Kill" type="llrp:C1G2Kill"/>
				<xs:element name="C1G2Read" type="llrp:C1G2Read"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="UTCTimestamp">
		<xs:sequence>
			<xs:element name="Microseconds" type="xs:dateTime" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="AntennaID">
		<xs:sequence>
			<xs:element name="AntennaID" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2ReadOpSpecResult">
		<xs:sequence>
			<xs:element name="Result" type="llrp:C1G2ReadResultType" />
			<xs:element name="OpSpecID" type="xs:unsignedShort" />
			<xs:element name="ReadData" type="llrp:listOfHexWord" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2TagInventoryStateAwareSingulationAction">
		<xs:sequence>
			<xs:element name="I" type="llrp:C1G2TagInventoryStateAwareI" />
			<xs:element name="S" type="llrp:C1G2TagInventoryStateAwareS" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="UHFBandCapabilities">
		<xs:sequence>
			<xs:element name="TransmitPowerLevelTableEntry" type="llrp:TransmitPowerLevelTableEntry" maxOccurs="unbounded" />
			<xs:element name="FrequencyInformation" type="llrp:FrequencyInformation" />
			<xs:choice maxOccurs="unbounded" >
				<xs:element name="C1G2UHFRFModeTable" type="llrp:C1G2UHFRFModeTable"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2BlockWrite">
		<xs:sequence>
			<xs:element name="OpSpecID" type="xs:unsignedShort" />
			<xs:element name="AccessPassword" type="xs:unsignedInt" />
			<xs:element name="MB" type="llrp:twoBit" />
			<xs:element name="WordPointer" type="xs:unsignedShort" />
			<xs:element name="WriteData" type="llrp:listOfHexWord" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="EPC_96">
		<xs:sequence>
			<xs:element name="EPC" type="xs:hexBinary" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="PeakRSSI">
		<xs:sequence>
			<xs:element name="PeakRSSI" type="xs:byte" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ReaderEventNotificationSpec">
		<xs:sequence>
			<xs:element name="EventNotificationState" type="llrp:EventNotificationState" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="TagReportContentSelector">
		<xs:sequence>
			<xs:element name="EnableROSpecID" type="xs:boolean" />
			<xs:element name="EnableSpecIndex" type="xs:boolean" />
			<xs:element name="EnableInventoryParameterSpecID" type="xs:boolean" />
			<xs:element name="EnableAntennaID" type="xs:boolean" />
			<xs:element name="EnableChannelIndex" type="xs:boolean" />
			<xs:element name="EnablePeakRSSI" type="xs:boolean" />
			<xs:element name="EnableFirstSeenTimestamp" type="xs:boolean" />
			<xs:element name="EnableLastSeenTimestamp" type="xs:boolean" />
			<xs:element name="EnableTagSeenCount" type="xs:boolean" />
			<xs:element name="EnableAccessSpecID" type="xs:boolean" />
			<xs:choice minOccurs="0" maxOccurs="unbounded" >
				<xs:element name="C1G2EPCMemorySelector" type="llrp:C1G2EPCMemorySelector"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="InventoryParameterSpecID">
		<xs:sequence>
			<xs:element name="InventoryParameterSpecID" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="FieldError">
		<xs:sequence>
			<xs:element name="FieldNum" type="xs:unsignedShort" />
			<xs:element name="ErrorCode" type="llrp:StatusCode" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="AntennaConfiguration">
		<xs:sequence>
			<xs:element name="AntennaID" type="xs:unsignedShort" />
			<xs:element name="RFReceiver" type="llrp:RFReceiver" minOccurs="0" />
			<xs:element name="RFTransmitter" type="llrp:RFTransmitter" minOccurs="0" />
			<xs:choice minOccurs="0" maxOccurs="unbounded" >
				<xs:element name="C1G2InventoryCommand" type="llrp:C1G2InventoryCommand"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2TagInventoryStateAwareFilterAction">
		<xs:sequence>
			<xs:element name="Target" type="llrp:C1G2StateAwareTarget" />
			<xs:element name="Action" type="llrp:C1G2StateAwareAction" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="AISpecEvent">
		<xs:sequence>
			<xs:element name="EventType" type="llrp:AISpecEventType" />
			<xs:element name="ROSpecID" type="xs:unsignedInt" />
			<xs:element name="SpecIndex" type="xs:unsignedShort" />
			<xs:choice minOccurs="0" >
				<xs:element name="C1G2SingulationDetails" type="llrp:C1G2SingulationDetails"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


        <xs:complexType name="ROReportSpec">
		<xs:sequence>
			<xs:element name="ROReportTrigger" type="llrp:ROReportTriggerType" />
			<xs:element name="N" type="xs:unsignedShort" />
			<xs:element name="TagReportContentSelector" type="llrp:TagReportContentSelector" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="AntennaEvent">
		<xs:sequence>
			<xs:element name="EventType" type="llrp:AntennaEventType" />
			<xs:element name="AntennaID" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2InventoryCommand">
		<xs:sequence>
			<xs:element name="TagInventoryStateAware" type="xs:boolean" />
			<xs:element name="C1G2Filter" type="llrp:C1G2Filter" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="C1G2RFControl" type="llrp:C1G2RFControl" minOccurs="0" />
			<xs:element name="C1G2SingulationControl" type="llrp:C1G2SingulationControl" minOccurs="0" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="SpecIndex">
		<xs:sequence>
			<xs:element name="SpecIndex" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ROSpecStopTrigger">
		<xs:sequence>
			<xs:element name="ROSpecStopTriggerType" type="llrp:ROSpecStopTriggerType" />
			<xs:element name="DurationTriggerValue" type="xs:unsignedInt" />
			<xs:element name="GPITriggerValue" type="llrp:GPITriggerValue" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="RFSurveyEvent">
		<xs:sequence>
			<xs:element name="EventType" type="llrp:RFSurveyEventType" />
			<xs:element name="ROSpecID" type="xs:unsignedInt" />
			<xs:element name="SpecIndex" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="GPOWriteData">
		<xs:sequence>
			<xs:element name="GPOPortNumber" type="xs:unsignedShort" />
			<xs:element name="GPOData" type="xs:boolean" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="Uptime">
		<xs:sequence>
			<xs:element name="Microseconds" type="xs:unsignedLong" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="TagObservationTrigger">
		<xs:sequence>
			<xs:element name="TriggerType" type="llrp:TagObservationTriggerType" />
			<xs:element name="NumberOfTags" type="xs:unsignedShort" />
			<xs:element name="NumberOfAttempts" type="xs:unsignedShort" />
			<xs:element name="T" type="xs:unsignedShort" />
			<xs:element name="Timeout" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="TagSeenCount">
		<xs:sequence>
			<xs:element name="TagCount" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="LLRPCapabilities">
		<xs:sequence>
			<xs:element name="CanDoRFSurvey" type="xs:boolean" />
			<xs:element name="CanReportBufferFillWarning" type="xs:boolean" />
			<xs:element name="SupportsClientRequestOpSpec" type="xs:boolean" />
			<xs:element name="CanDoTagInventoryStateAwareSingulation" type="xs:boolean" />
			<xs:element name="SupportsEventAndReportHolding" type="xs:boolean" />
			<xs:element name="MaxNumPriorityLevelsSupported" type="xs:unsignedByte" />
			<xs:element name="ClientRequestOpSpecTimeout" type="xs:unsignedShort" />
			<xs:element name="MaxNumROSpecs" type="xs:unsignedInt" />
			<xs:element name="MaxNumSpecsPerROSpec" type="xs:unsignedInt" />
			<xs:element name="MaxNumInventoryParameterSpecsPerAISpec" type="xs:unsignedInt" />
			<xs:element name="MaxNumAccessSpecs" type="xs:unsignedInt" />
			<xs:element name="MaxNumOpSpecsPerAccessSpec" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="OpSpecID">
		<xs:sequence>
			<xs:element name="OpSpecID" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2Write">
		<xs:sequence>
			<xs:element name="OpSpecID" type="xs:unsignedShort" />
			<xs:element name="AccessPassword" type="xs:unsignedInt" />
			<xs:element name="MB" type="llrp:twoBit" />
			<xs:element name="WordPointer" type="xs:unsignedShort" />
			<xs:element name="WriteData" type="llrp:listOfHexWord" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="AISpecStopTrigger">
		<xs:sequence>
			<xs:element name="AISpecStopTriggerType" type="llrp:AISpecStopTriggerType" />
			<xs:element name="DurationTrigger" type="xs:unsignedInt" />
			<xs:element name="GPITriggerValue" type="llrp:GPITriggerValue" minOccurs="0" />
			<xs:element name="TagObservationTrigger" type="llrp:TagObservationTrigger" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2WriteOpSpecResult">
		<xs:sequence>
			<xs:element name="Result" type="llrp:C1G2WriteResultType" />
			<xs:element name="OpSpecID" type="xs:unsignedShort" />
			<xs:element name="NumWordsWritten" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="GPIEvent">
		<xs:sequence>
			<xs:element name="GPIPortNumber" type="xs:unsignedShort" />
			<xs:element name="GPIEvent" type="xs:boolean" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="FrequencyRSSILevelEntry">
		<xs:sequence>
			<xs:element name="Frequency" type="xs:unsignedInt" />
			<xs:element name="Bandwidth" type="xs:unsignedInt" />
			<xs:element name="AverageRSSI" type="xs:byte" />
			<xs:element name="PeakRSSI" type="xs:byte" />
			<xs:choice >
				<xs:element name="Uptime" type="llrp:Uptime"/>
				<xs:element name="UTCTimestamp" type="llrp:UTCTimestamp"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="LLRPConfigurationStateValue">
		<xs:sequence>
			<xs:element name="LLRPConfigurationStateValue" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="EventsAndReports">
		<xs:sequence>
			<xs:element name="HoldEventsAndReportsUponReconnect" type="xs:boolean" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="LastSeenTimestampUTC">
		<xs:sequence>
			<xs:element name="Microseconds" type="xs:dateTime" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2TagInventoryMask">
		<xs:sequence>
			<xs:element name="MB" type="llrp:twoBit" />
			<xs:element name="Pointer" type="xs:unsignedShort" />
			<xs:element name="TagMask" type="llrp:bitVector" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2LLRPCapabilities">
		<xs:sequence>
			<xs:element name="CanSupportBlockErase" type="xs:boolean" />
			<xs:element name="CanSupportBlockWrite" type="xs:boolean" />
			<xs:element name="MaxNumSelectFiltersPerQuery" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="AccessSpecStopTrigger">
		<xs:sequence>
			<xs:element name="AccessSpecStopTrigger" type="llrp:AccessSpecStopTriggerType" />
			<xs:element name="OperationCountValue" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="KeepaliveSpec">
		<xs:sequence>
			<xs:element name="KeepaliveTriggerType" type="llrp:KeepaliveTriggerType" />
			<xs:element name="PeriodicTriggerValue" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="EPCData">
		<xs:sequence>
			<xs:element name="EPC" type="llrp:bitVector" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2_CRC">
		<xs:sequence>
			<xs:element name="CRC" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>

	<xs:complexType name="PerAntennaAirProtocol">
		<xs:sequence>
			<xs:element name="AntennaID" type="xs:unsignedShort" />
			<xs:element name="ProtocolID" type="llrp:listOfAirProtocols" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>

	<xs:complexType name="C1G2Kill">
		<xs:sequence>
			<xs:element name="OpSpecID" type="xs:unsignedShort" />
			<xs:element name="KillPassword" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="FixedFrequencyTable">
		<xs:sequence>
			<xs:element name="Frequency" type="llrp:listOfUnsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="AccessReportSpec">
		<xs:sequence>
			<xs:element name="AccessReportTrigger" type="llrp:AccessReportTriggerType" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="RFTransmitter">
		<xs:sequence>
			<xs:element name="HopTableID" type="xs:unsignedShort" />
			<xs:element name="ChannelIndex" type="xs:unsignedShort" />
			<xs:element name="TransmitPower" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="RFSurveySpecStopTrigger">
		<xs:sequence>
			<xs:element name="StopTriggerType" type="llrp:RFSurveySpecStopTriggerType" />
			<xs:element name="DurationPeriod" type="xs:unsignedInt" />
			<xs:element name="N" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="LLRPStatus">
		<xs:sequence>
			<xs:element name="StatusCode" type="llrp:StatusCode" />
			<xs:element name="ErrorDescription" type="xs:string" />
			<xs:element name="FieldError" type="llrp:FieldError" minOccurs="0" />
			<xs:element name="ParameterError" type="llrp:ParameterError" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="AccessSpecID">
		<xs:sequence>
			<xs:element name="AccessSpecID" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2SingulationControl">
		<xs:sequence>
			<xs:element name="Session" type="llrp:twoBit" />
			<xs:element name="TagPopulation" type="xs:unsignedShort" />
			<xs:element name="TagTransitTime" type="xs:unsignedInt" />
			<xs:element name="C1G2TagInventoryStateAwareSingulationAction" type="llrp:C1G2TagInventoryStateAwareSingulationAction" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ROSpecEvent">
		<xs:sequence>
			<xs:element name="EventType" type="llrp:ROSpecEventType" />
			<xs:element name="ROSpecID" type="xs:unsignedInt" />
			<xs:element name="PreemptingROSpecID" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="TagReportData">
		<xs:sequence>
			<xs:choice >
				<xs:element name="EPCData" type="llrp:EPCData"/>
				<xs:element name="EPC_96" type="llrp:EPC_96"/>
			</xs:choice>
			<xs:element name="ROSpecID" type="llrp:ROSpecID" minOccurs="0" />
			<xs:element name="SpecIndex" type="llrp:SpecIndex" minOccurs="0" />
			<xs:element name="InventoryParameterSpecID" type="llrp:InventoryParameterSpecID" minOccurs="0" />
			<xs:element name="AntennaID" type="llrp:AntennaID" minOccurs="0" />
			<xs:element name="PeakRSSI" type="llrp:PeakRSSI" minOccurs="0" />
			<xs:element name="ChannelIndex" type="llrp:ChannelIndex" minOccurs="0" />
			<xs:element name="FirstSeenTimestampUTC" type="llrp:FirstSeenTimestampUTC" minOccurs="0" />
			<xs:element name="FirstSeenTimestampUptime" type="llrp:FirstSeenTimestampUptime" minOccurs="0" />
			<xs:element name="LastSeenTimestampUTC" type="llrp:LastSeenTimestampUTC" minOccurs="0" />
			<xs:element name="LastSeenTimestampUptime" type="llrp:LastSeenTimestampUptime" minOccurs="0" />
			<xs:element name="TagSeenCount" type="llrp:TagSeenCount" minOccurs="0" />
			<xs:choice minOccurs="0" maxOccurs="unbounded" >
				<xs:element name="C1G2_CRC" type="llrp:C1G2_CRC"/>
				<xs:element name="C1G2_PC" type="llrp:C1G2_PC"/>
			</xs:choice>
			<xs:element name="AccessSpecID" type="llrp:AccessSpecID" minOccurs="0" />
			<xs:choice minOccurs="0" maxOccurs="unbounded" >
				<xs:element name="C1G2WriteOpSpecResult" type="llrp:C1G2WriteOpSpecResult"/>
				<xs:element name="C1G2BlockWriteOpSpecResult" type="llrp:C1G2BlockWriteOpSpecResult"/>
				<xs:element name="C1G2BlockEraseOpSpecResult" type="llrp:C1G2BlockEraseOpSpecResult"/>
				<xs:element name="C1G2ReadOpSpecResult" type="llrp:C1G2ReadOpSpecResult"/>
				<xs:element name="C1G2LockOpSpecResult" type="llrp:C1G2LockOpSpecResult"/>
				<xs:element name="C1G2KillOpSpecResult" type="llrp:C1G2KillOpSpecResult"/>
			</xs:choice>
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="FrequencyInformation">
		<xs:sequence>
			<xs:element name="Hopping" type="xs:boolean" />
			<xs:element name="FrequencyHopTable" type="llrp:FrequencyHopTable" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="FixedFrequencyTable" type="llrp:FixedFrequencyTable" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2BlockWriteOpSpecResult">
		<xs:sequence>
			<xs:element name="Result" type="llrp:C1G2BlockWriteResultType" />
			<xs:element name="OpSpecID" type="xs:unsignedShort" />
			<xs:element name="NumWordsWritten" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="RFReceiver">
		<xs:sequence>
			<xs:element name="ReceiverSensitivity" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2Read">
		<xs:sequence>
			<xs:element name="OpSpecID" type="xs:unsignedShort" />
			<xs:element name="AccessPassword" type="xs:unsignedInt" />
			<xs:element name="MB" type="llrp:twoBit" />
			<xs:element name="WordPointer" type="xs:unsignedShort" />
			<xs:element name="WordCount" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2LockOpSpecResult">
		<xs:sequence>
			<xs:element name="Result" type="llrp:C1G2LockResultType" />
			<xs:element name="OpSpecID" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="HoppingEvent">
		<xs:sequence>
			<xs:element name="HopTableID" type="xs:unsignedShort" />
			<xs:element name="NextChannelIndex" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="GPIOCapabilities">
		<xs:sequence>
			<xs:element name="NumGPIs" type="xs:unsignedShort" />
			<xs:element name="NumGPOs" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2RFControl">
		<xs:sequence>
			<xs:element name="ModeIndex" type="xs:unsignedShort" />
			<xs:element name="Tari" type="xs:unsignedShort" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="FirstSeenTimestampUptime">
		<xs:sequence>
			<xs:element name="Microseconds" type="xs:unsignedLong" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ReaderExceptionEvent">
		<xs:sequence>
			<xs:element name="Message" type="xs:string" />
			<xs:element name="ROSpecID" type="llrp:ROSpecID" minOccurs="0" />
			<xs:element name="SpecIndex" type="llrp:SpecIndex" minOccurs="0" />
			<xs:element name="InventoryParameterSpecID" type="llrp:InventoryParameterSpecID" minOccurs="0" />
			<xs:element name="AntennaID" type="llrp:AntennaID" minOccurs="0" />
			<xs:element name="AccessSpecID" type="llrp:AccessSpecID" minOccurs="0" />
			<xs:element name="OpSpecID" type="llrp:OpSpecID" minOccurs="0" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2Filter">
		<xs:sequence>
			<xs:element name="T" type="llrp:C1G2TruncateAction" />
			<xs:element name="C1G2TagInventoryMask" type="llrp:C1G2TagInventoryMask" />
			<xs:element name="C1G2TagInventoryStateAwareFilterAction" type="llrp:C1G2TagInventoryStateAwareFilterAction" minOccurs="0" />
			<xs:element name="C1G2TagInventoryStateUnawareFilterAction" type="llrp:C1G2TagInventoryStateUnawareFilterAction" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ReceiveSensitivityTableEntry">
		<xs:sequence>
			<xs:element name="Index" type="xs:unsignedShort" />
			<xs:element name="ReceiveSensitivityValue" type="xs:short" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="TransmitPowerLevelTableEntry">
		<xs:sequence>
			<xs:element name="Index" type="xs:unsignedShort" />
			<xs:element name="TransmitPowerValue" type="xs:short" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ConnectionCloseEvent">
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="RFSurveySpec">
		<xs:sequence>
			<xs:element name="AntennaID" type="xs:unsignedShort" />
			<xs:element name="StartFrequency" type="xs:unsignedInt" />
			<xs:element name="EndFrequency" type="xs:unsignedInt" />
			<xs:element name="RFSurveySpecStopTrigger" type="llrp:RFSurveySpecStopTrigger" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2TagSpec">
		<xs:sequence>
			<xs:element name="C1G2TargetTag" type="llrp:C1G2TargetTag" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ParameterError">
		<xs:sequence>
			<xs:element name="ParameterType" type="xs:unsignedShort" />
			<xs:element name="ErrorCode" type="llrp:StatusCode" />
			<xs:element name="FieldError" type="llrp:FieldError" minOccurs="0" />
			<xs:element name="ParameterError" type="llrp:ParameterError" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2Lock">
		<xs:sequence>
			<xs:element name="OpSpecID" type="xs:unsignedShort" />
			<xs:element name="AccessPassword" type="xs:unsignedInt" />
			<xs:element name="C1G2LockPayload" type="llrp:C1G2LockPayload" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2UHFRFModeTableEntry">
		<xs:sequence>
			<xs:element name="ModeIdentifier" type="xs:unsignedInt" />
			<xs:element name="DRValue" type="llrp:C1G2DRValue" />
			<xs:element name="EPCHAGTCConformance" type="xs:boolean" />
			<xs:element name="MValue" type="llrp:C1G2MValue" />
			<xs:element name="ForwardLinkModulation" type="llrp:C1G2ForwardLinkModulation" />
			<xs:element name="SpectralMaskIndicator" type="llrp:C1G2SpectralMaskIndicator" />
			<xs:element name="BDRValue" type="xs:unsignedInt" />
			<xs:element name="PIEValue" type="xs:unsignedInt" />
			<xs:element name="MinTariValue" type="xs:unsignedInt" />
			<xs:element name="MaxTariValue" type="xs:unsignedInt" />
			<xs:element name="StepTariValue" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ConnectionAttemptEvent">
		<xs:sequence>
			<xs:element name="Status" type="llrp:ConnectionAttemptStatusType" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ROSpec">
		<xs:sequence>
			<xs:element name="ROSpecID" type="xs:unsignedInt" />
			<xs:element name="Priority" type="xs:unsignedByte" />
			<xs:element name="CurrentState" type="llrp:ROSpecState" />
			<xs:element name="ROBoundarySpec" type="llrp:ROBoundarySpec" />
			<xs:choice maxOccurs="unbounded" >
				<xs:element name="AISpec" type="llrp:AISpec"/>
				<xs:element name="RFSurveySpec" type="llrp:RFSurveySpec"/>
				<xs:element name="Custom" type="llrp:Custom" minOccurs="0" maxOccurs="unbounded" />
				<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element name="ROReportSpec" type="llrp:ROReportSpec" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2TargetTag">
		<xs:sequence>
			<xs:element name="MB" type="llrp:twoBit" />
			<xs:element name="Match" type="xs:boolean" />
			<xs:element name="Pointer" type="xs:unsignedShort" />
			<xs:element name="TagMask" type="llrp:bitVector" />
			<xs:element name="TagData" type="llrp:bitVector" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="C1G2UHFRFModeTable">
		<xs:sequence>
			<xs:element name="C1G2UHFRFModeTableEntry" type="llrp:C1G2UHFRFModeTableEntry" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="AccessSpec">
		<xs:sequence>
			<xs:element name="AccessSpecID" type="xs:unsignedInt" />
			<xs:element name="AntennaID" type="xs:unsignedShort" />
			<xs:element name="ProtocolID" type="llrp:AirProtocols" />
			<xs:element name="CurrentState" type="llrp:AccessSpecState" />
			<xs:element name="ROSpecID" type="xs:unsignedInt" />
			<xs:element name="AccessSpecStopTrigger" type="llrp:AccessSpecStopTrigger" />
			<xs:element name="AccessCommand" type="llrp:AccessCommand" />
			<xs:element name="AccessReportSpec" type="llrp:AccessReportSpec" minOccurs="0" />
			<xs:group ref="llrp:extensionPoint" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="GPIPortCurrentState">
		<xs:sequence>
			<xs:element name="GPIPortNum" type="xs:unsignedShort" />
			<xs:element name="Config" type="xs:boolean" />
			<xs:element name="State" type="llrp:GPIPortState" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>


	<xs:complexType name="ReportBufferLevelWarningEvent">
		<xs:sequence>
			<xs:element name="ReportBufferPercentageFull" type="xs:unsignedByte" />
		</xs:sequence>
		<xs:attributeGroup ref="llrp:paramAttrs"/>
	</xs:complexType>

	<xs:simpleType name="KeepaliveTriggerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Periodic"/>
			<xs:enumeration value="Null"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="GetReaderCapabilitiesRequestedData">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LLRP_Air_Protocol_Capabilities"/>
			<xs:enumeration value="All"/>
			<xs:enumeration value="LLRP_Capabilities"/>
			<xs:enumeration value="Regulatory_Capabilities"/>
			<xs:enumeration value="General_Device_Capabilities"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2TruncateAction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Truncate"/>
			<xs:enumeration value="Do_Not_Truncate"/>
			<xs:enumeration value="Unspecified"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ROSpecEventType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="End_Of_ROSpec"/>
			<xs:enumeration value="Start_Of_ROSpec"/>
			<xs:enumeration value="Preemption_Of_ROSpec"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NotificationEventType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Report_Buffer_Fill_Warning"/>
			<xs:enumeration value="ROSpec_Event"/>
			<xs:enumeration value="AISpec_Event_With_Details"/>
			<xs:enumeration value="Reader_Exception_Event"/>
			<xs:enumeration value="Upon_Hopping_To_Next_Channel"/>
			<xs:enumeration value="Antenna_Event"/>
			<xs:enumeration value="GPI_Event"/>
			<xs:enumeration value="RFSurvey_Event"/>
			<xs:enumeration value="AISpec_Event"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AccessSpecStopTriggerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Null"/>
			<xs:enumeration value="Operation_Count"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AISpecStopTriggerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Tag_Observation"/>
			<xs:enumeration value="Null"/>
			<xs:enumeration value="GPI_With_Timeout"/>
			<xs:enumeration value="Duration"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2KillResultType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Insufficient_Power"/>
			<xs:enumeration value="Nonspecific_Reader_Error"/>
			<xs:enumeration value="Nonspecific_Tag_Error"/>
			<xs:enumeration value="Zero_Kill_Password_Error"/>
			<xs:enumeration value="No_Response_From_Tag"/>
			<xs:enumeration value="Success"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="GetReaderConfigRequestedData">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GPOWriteData"/>
			<xs:enumeration value="Identification"/>
			<xs:enumeration value="EventsAndReports"/>
			<xs:enumeration value="AntennaConfiguration"/>
			<xs:enumeration value="KeepaliveSpec"/>
			<xs:enumeration value="ROReportSpec"/>
			<xs:enumeration value="All"/>
			<xs:enumeration value="LLRPConfigurationStateValue"/>
			<xs:enumeration value="GPIPortCurrentState"/>
			<xs:enumeration value="ReaderEventNotificationSpec"/>
			<xs:enumeration value="AntennaProperties"/>
			<xs:enumeration value="AccessReportSpec"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2BlockWriteResultType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Insufficient_Power"/>
			<xs:enumeration value="Tag_Memory_Locked_Error"/>
			<xs:enumeration value="Tag_Memory_Overrun_Error"/>
			<xs:enumeration value="Nonspecific_Reader_Error"/>
			<xs:enumeration value="Nonspecific_Tag_Error"/>
			<xs:enumeration value="No_Response_From_Tag"/>
			<xs:enumeration value="Success"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2StateUnawareAction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DoNothing_Select"/>
			<xs:enumeration value="Unselect_Select"/>
			<xs:enumeration value="DoNothing_Unselect"/>
			<xs:enumeration value="Select_DoNothing"/>
			<xs:enumeration value="Unselect_DoNothing"/>
			<xs:enumeration value="Select_Unselect"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2LockResultType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Insufficient_Power"/>
			<xs:enumeration value="Nonspecific_Reader_Error"/>
			<xs:enumeration value="Nonspecific_Tag_Error"/>
			<xs:enumeration value="No_Response_From_Tag"/>
			<xs:enumeration value="Success"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="GPIPortState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Low"/>
			<xs:enumeration value="High"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2StateAwareTarget">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Inventoried_State_For_Session_S1"/>
			<xs:enumeration value="Inventoried_State_For_Session_S3"/>
			<xs:enumeration value="SL"/>
			<xs:enumeration value="Inventoried_State_For_Session_S2"/>
			<xs:enumeration value="Inventoried_State_For_Session_S0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2DRValue">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DRV_8"/>
			<xs:enumeration value="DRV_64_3"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2WriteResultType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Insufficient_Power"/>
			<xs:enumeration value="Tag_Memory_Locked_Error"/>
			<xs:enumeration value="Tag_Memory_Overrun_Error"/>
			<xs:enumeration value="Nonspecific_Reader_Error"/>
			<xs:enumeration value="Nonspecific_Tag_Error"/>
			<xs:enumeration value="No_Response_From_Tag"/>
			<xs:enumeration value="Success"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="RFSurveySpecStopTriggerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N_Iterations_Through_Frequency_Range"/>
			<xs:enumeration value="Null"/>
			<xs:enumeration value="Duration"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AntennaEventType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Antenna_Disconnected"/>
			<xs:enumeration value="Antenna_Connected"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2MValue">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MV_8"/>
			<xs:enumeration value="MV_2"/>
			<xs:enumeration value="MV_4"/>
			<xs:enumeration value="MV_FM0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ROSpecStartTriggerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GPI"/>
			<xs:enumeration value="Periodic"/>
			<xs:enumeration value="Null"/>
			<xs:enumeration value="Immediate"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IdentificationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MAC_Address"/>
			<xs:enumeration value="EPC"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2StateAwareAction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DeassertSLOrB_Noop"/>
			<xs:enumeration value="Noop_NegateSLOrABBA"/>
			<xs:enumeration value="Noop_DeassertSLOrB"/>
			<xs:enumeration value="Noop_AssertSLOrA"/>
			<xs:enumeration value="NegateSLOrABBA_Noop"/>
			<xs:enumeration value="AssertSLOrA_DeassertSLOrB"/>
			<xs:enumeration value="DeassertSLOrB_AssertSLOrA"/>
			<xs:enumeration value="AssertSLOrA_Noop"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2TagInventoryStateAwareI">
		<xs:restriction base="xs:string">
			<xs:enumeration value="State_A"/>
			<xs:enumeration value="State_B"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2TagInventoryStateAwareS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SL"/>
			<xs:enumeration value="Not_SL"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2ReadResultType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Nonspecific_Reader_Error"/>
			<xs:enumeration value="Nonspecific_Tag_Error"/>
			<xs:enumeration value="No_Response_From_Tag"/>
			<xs:enumeration value="Success"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CommunicationsStandard">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Japan_ARIB_STD_T89"/>
			<xs:enumeration value="Hong_Kong_OFTA_1049"/>
			<xs:enumeration value="Australia_LIPD_4W"/>
			<xs:enumeration value="Korea_MIC_Article_5_2"/>
			<xs:enumeration value="Australia_LIPD_1W"/>
			<xs:enumeration value="US_FCC_Part_15"/>
			<xs:enumeration value="Taiwan_DGT_LP0002"/>
			<xs:enumeration value="Unspecified"/>
			<xs:enumeration value="ETSI_302_208"/>
			<xs:enumeration value="ETSI_300_220"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2SpectralMaskIndicator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DI"/>
			<xs:enumeration value="SI"/>
			<xs:enumeration value="MI"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2ForwardLinkModulation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PR_ASK"/>
			<xs:enumeration value="DSB_ASK"/>
			<xs:enumeration value="SSB_ASK"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ROSpecState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Disabled"/>
			<xs:enumeration value="Active"/>
			<xs:enumeration value="Inactive"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AccessSpecState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Disabled"/>
			<xs:enumeration value="Active"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2BlockEraseResultType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Insufficient_Power"/>
			<xs:enumeration value="Tag_Memory_Locked_Error"/>
			<xs:enumeration value="Tag_Memory_Overrun_Error"/>
			<xs:enumeration value="Nonspecific_Reader_Error"/>
			<xs:enumeration value="Nonspecific_Tag_Error"/>
			<xs:enumeration value="No_Response_From_Tag"/>
			<xs:enumeration value="Success"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ROSpecStopTriggerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Null"/>
			<xs:enumeration value="GPI_With_Timeout"/>
			<xs:enumeration value="Duration"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2LockDataField">
		<xs:restriction base="xs:string">
			<xs:enumeration value="User_Memory"/>
			<xs:enumeration value="EPC_Memory"/>
			<xs:enumeration value="Kill_Password"/>
			<xs:enumeration value="Access_Password"/>
			<xs:enumeration value="TID_Memory"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="C1G2LockPrivilege">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Unlock"/>
			<xs:enumeration value="Read_Write"/>
			<xs:enumeration value="Perma_Unlock"/>
			<xs:enumeration value="Perma_Lock"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AccessReportTriggerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="End_Of_AccessSpec"/>
			<xs:enumeration value="Whenever_ROReport_Is_Generated"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ROReportTriggerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Upon_N_Tags_Or_End_Of_ROSpec"/>
			<xs:enumeration value="Upon_N_Tags_Or_End_Of_AISpec"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ConnectionAttemptStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Another_Connection_Attempted"/>
			<xs:enumeration value="Failed_Reason_Other_Than_A_Connection_Already_Exists"/>
			<xs:enumeration value="Failed_A_Reader_Initiated_Connection_Already_Exists"/>
			<xs:enumeration value="Failed_A_Client_Initiated_Connection_Already_Exists"/>
			<xs:enumeration value="Success"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AirProtocols">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EPCGlobalClass1Gen2"/>
			<xs:enumeration value="Unspecified"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="RFSurveyEventType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="End_Of_RFSurvey"/>
			<xs:enumeration value="Start_Of_RFSurvey"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StatusCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="M_UnknownField"/>
			<xs:enumeration value="M_DuplicateParameter"/>
			<xs:enumeration value="M_ParameterError"/>
			<xs:enumeration value="P_UnsupportedParameter"/>
			<xs:enumeration value="P_ParameterError"/>
			<xs:enumeration value="M_OverflowField"/>
			<xs:enumeration value="M_Success"/>
			<xs:enumeration value="M_MissingParameter"/>
			<xs:enumeration value="A_OutOfRange"/>
			<xs:enumeration value="P_MissingParameter"/>
			<xs:enumeration value="P_OverflowField"/>
			<xs:enumeration value="M_FieldError"/>
			<xs:enumeration value="P_FieldError"/>
			<xs:enumeration value="M_UnsupportedVersion"/>
			<xs:enumeration value="P_UnknownParameter"/>
			<xs:enumeration value="M_UnexpectedParameter"/>
			<xs:enumeration value="M_UnsupportedParameter"/>
			<xs:enumeration value="M_OverflowParameter"/>
			<xs:enumeration value="R_DeviceError"/>
			<xs:enumeration value="M_UnknownParameter"/>
			<xs:enumeration value="P_UnknownField"/>
			<xs:enumeration value="P_DuplicateParameter"/>
			<xs:enumeration value="P_OverflowParameter"/>
			<xs:enumeration value="M_UnsupportedMessage"/>
			<xs:enumeration value="P_UnexpectedParameter"/>
			<xs:enumeration value="A_Invalid"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AISpecEventType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="End_Of_AISpec"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TagObservationTriggerType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Upon_Seeing_No_More_New_Tags_For_Tms_Or_Timeout"/>
			<xs:enumeration value="Upon_Seeing_N_Tags_Or_Timeout"/>
			<xs:enumeration value="N_Attempts_To_See_All_Tags_In_FOV_Or_Timeout"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
